<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.bkb.repository.mapper.AuthorityMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, authority_name, authority_type, service_code, service_name, url, biz_domain_id, created, updated, remark
    </sql>

</mapper>
