<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.bkb.repository.mapper.AuthGroupMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , parent_id, group_name, biz_domain_id, visibility, client_id, creator, modifier, created, updated, remark
    </sql>

    <!-- 根据可见性,客户ID,以及parent查询下一级的权限组 -->
    <select id="selectChildren" resultType="com.catface.bkb.repository.entity.AuthGroup">
        select
        <include refid="Base_Column_List"/>
        from auth_group
        where visibility = #{visibility}
        <if test="parentId!=null">
            and parent_id = #{parentId}
        </if>
        <if test="parentId==null">
            and parent_id = -1
        </if>
        <if test="clientId!=null">
            and client_id = #{clientId}
        </if>
        <if test="clientId==null">
            and client_id = -1
        </if>
        <if test="bizDomainId!=null">
            and biz_domain_id = #{bizDomainId}
        </if>
    </select>

    <!-- 统计客户创建的权限组个数 -->
    <select id="countByClientId" resultType="java.lang.Integer">
        select count(id)
        from auth_group
        where client_id = #{clientId}
    </select>

</mapper>
