<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.bkb.repository.mapper.BizDomainMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , biz_domain_name, biz_domain_code, created, updated, remark
    </sql>

    <!-- 分页查询业务域 -->
    <select id="selectOnePage" resultType="com.catface.bkb.repository.entity.BizDomain">
        select
        <include refid="Base_Column_List"/>
        from biz_domain
        where 1=1
        <if test="param.bizDomainName!=null and param.bizDomainName!=''">
            and biz_domain_name like concat('%',#{param.bizDomainName},'%')
        </if>
        <if test="param.bizDomainCode!=null and param.bizDomainCode!=''">
            and biz_domain_code like concat('%',#{param.bizDomainCode},'%')
        </if>
    </select>

    <!-- 根据业务域编码查询业务域 -->
    <select id="selectByBizDomainCode" resultType="com.catface.bkb.repository.entity.BizDomain">
        select
        <include refid="Base_Column_List"/>
        from biz_domain where biz_domain_code = #{bizDomainCode}
    </select>

</mapper>
