<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.bkb.repository.mapper.BizDomainMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, biz_domain_name, biz_domain_code, created, updated, remark
    </sql>

</mapper>
