<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.bkb.repository.mapper.BizServiceMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , biz_service_name, biz_service_code, auth_endpoint, created, updated, remark
    </sql>

    <!-- 分页查询业务系统 -->
    <select id="selectOnePage" resultType="com.catface.bkb.repository.entity.BizService">
        select
        <include refid="Base_Column_List"/>
        from biz_service
        where 1=1
        <if test="param.bizServiceName!=null and param.bizServiceName!=''">
            and biz_service_name like concat('%',#{param.bizServiceName},'%')
        </if>
        <if test="param.bizServiceCode!=null and param.bizServiceCode!=''">
            and biz_service_code like concat('%',#{param.bizServiceCode},'%')
        </if>
    </select>

</mapper>
